html,
body {
  --bg-color: #873c03;
  --text-color: #ffffff;

  background-image: url("./background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);

  font: 30px/1.1 "Arima Madurai", cursive;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 20px 20px 4rem;
  position: relative;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.30);
}

#quote-box #text {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#quote-box #author:before {
  content: "-";
  margin-right: 10px;
}

#quote-box #author {
  display: block;
  text-align: right;
  width: 100%;
}

#quote-box .button {
  border: none;
  border-radius: 2px;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: "Arima Madurai", cursive;
  font-size: 1rem;
  padding: 5px 20px;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
}

#quote-box #tweet-quote {
  left: 20px;
}

#quote-box #new-quote {
  right: 20px;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px
}

.credit span {
  display: inline-block;
  padding: 2px 3px
}

.credit span svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -1px;
  fill: white;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}

footer p {
  font-size: 0.65rem;
  display: inline-block;
  color: #dddddd;
}

footer p a,
footer p a:visited {
  color: #dddddd;
}

footer p a:hover {
  color: #ffffff;
}
